* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(136, 136, 136);
    position: fixed;
    top: 0;
    width: 100%;
}

section {
    position: fixed;
    top: 35px;
}

.container {
    width: 375px;
    height: 200px; 
    background-color: #fff;
    margin: 0 auto;
}

.logo {
    align-items: center;
    width: 80px;
    padding: 5px;
}

footer {    
    margin: 0 auto;
    width: 375px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

main {
    margin-top: 255px;
}

article {
    display: flex;
    padding: 3px;
}

p {
    font-size: 10px;
}

.thumb {
    height: 70px;
    border-radius: 4px;
}


.details {
    padding: 8px 12px;
}

